* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    color: white;
  }
  
  body {
    background-color: rgb(44, 41, 88);
  }
  .ad {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 250px;
  
    transform: translate(-50%, -50%);
    background-color: rgb(117, 234, 255);

  }
  .logo {
    align-self: center;
    justify-self: center;
    padding-left: 15px;
    margin-top: 85px;
    width: 70%;
    height: 14.7%;
  }
  .weather__icon {
    padding-left: 10px;
  }
  .weather__temp {
    align-self: center;
    justify-self: center;
    font-size: 16pt;
    padding-left: 25px;
  }
  .weather__summary {
    align-self: center;
    justify-self: center;
    font-size: 12pt;
    padding-left: 25px;
  }
  .doctor__img {
    position: relative;
    left: 75%;
    top: -60%;

  }
  .doctor__number {
    font-size: 13pt;
    position: absolute;
    left: 60%;
    top: 40%;
  }



  